body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ecc97e;
    color: #333;
}

h1, h2, h3 {
    color: #060707;
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


p {
    margin: 10px 20px;
    font-size: 1.1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
    background-color: #050504;
    color: #fff;
    font-size: 1.2em;
}

td {
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2b15f0;
}

a {
    text-decoration: none;
}


a button {
    text-align: center;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}


a {
    text-decoration: none;
    color: #0b0f0f;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #080808;
    color: #fff;
    border-radius: 5px;
}


li:hover {
    background-color: #f1f1f1;
}


ul li a {
    padding: 10px 20px;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: rgb(12, 8, 8);
    text-decoration: none;
    font-weight: bold;
}

